* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	background: inherit;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	text-decoration: none;
}

select {
	background: inherit;
	border: none;
}

