:root {
	font-size: 16px;

	/* Color variables */
	--background-color: #E5E5E5;
	--main-font-color: #000000;
	--transparent-dark-color: rgba(117, 117, 117, 1);
	--secondary-font-color: #ffffff;

	/* Font size variables */
	/* For desktop */
	--big-headline-desktop: 45px;
	--medium-headline-desktop: 35px;
	--headline-genre-desktop: 14px;
	--navigation-link-desktop: 15px;
	--body-text-desktop: 18px;
	--footer-link-desktop: 18px;
	--logo-font-desktop: 64px;

	/* For mobile */
	--logo-font-mobile: 55px;
	--navigation-link-mobile: 13px;
	--big-headline-mobile: 30px;
	--body-text-mobile: 16px;
	--medium-headline-mobile: 25px;
	--headline-genre-mobile: 12px;
	--small-body-text-mobile: 12px;

}