.navigation {
	height: 10rem;
}

.navigation__logo {
	position: absolute;
	width: 80px;
	height: 85px;
	left: 35px;
	top: 35px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-size: var(--logo-font-mobile);
	line-height: 87.18%;
	text-align: center;
}

.navigation__call-to-action {
	position: absolute;
	width: 91px;
	left: 137px;
	top: 61px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 600;
	font-size: var(--navigation-link-mobile);
	line-height: 117.68%;
	text-align: center;
	color: var(--transparent-dark-color);
}

.navigation__select {
	position: absolute;
	width: 7.5rem;
	height: 18px;
	left: 137px;
	top: 80px;
	font-weight: 800;
	font-size: var(--navigation-link-mobile);
	color: var(--main-font-color);
	line-height: 117.68%;
	text-transform: uppercase;
	background: url('/assets/icons/select.png');
	background-size: 0.8rem;
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
}

.navigation__menu-name {
	position: absolute;
	width: 42px;
	height: 17px;
	right: 5rem;
	top: 61px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: var(--navigation-link-mobile);
	text-transform: uppercase;
	line-height: 17px;
	color: var(--main-font-color);
}

.navigation__menu-button {
	position: absolute;
	width: 20px;
	height: 2px;
	right: 3.5rem;
	top: 60px;
}

@media screen and (min-width: 768px) {
	.navigation__select {
		width: 7.5rem;
		left: 230px;
		top: 65px;
		text-align: center;
	}

	.navigation__call-to-action {
		top: 67px;
	}

	.navigation__menu-name {
		top: 65px;
	}

	.navigation__menu-button {
		top: 64px;
	}

}

@media screen and (min-width: 1000px) {
	.navigation {
		height: 10rem;
	}
}

@media screen and (min-width: 1400px) {
	.navigation {
		height: 13rem;
	}

	.navigation__logo {
		width: 103px;
		height: 112px;
		left: 70px;
		top: 51px;
		font-size: var(--logo-font-desktop);
	}

	.navigation__call-to-action {
		width: 91px;
		height: 18px;
		left: 187px;
		top: 97px;
		font-size: var(--navigation-link-desktop);
	}

	.navigation__select {
		width: 8rem;
		height: 18px;
		left: 289px;
		top: 97px;
		font-size: var(--navigation-link-desktop);
		line-height: 117.68%;
		background-size: 0.8rem;
		text-align: center;
	}

	.navigation__menu-name {
		width: 42px;
		height: 17px;
		left: 1221px;
		top: 97px;
		font-size: var(--navigation-link-desktop);
	}

	.navigation__menu-button {
		width: 20px;
		height: 2px;
		left: 1270px;
		top: 97px;
	}
}